<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}{% if self.title() %} | {% endif %}SudokuDuel</title>
      <link rel="icon" type="image/png" href="/static/images/favicon.png" />

      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <meta name="description" content="{% block description %}{% endblock %}">

      {{ import_css("bootstrap") | safe }}

      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      {{ import_js("bootstrap", override_directory="js") | safe }}

      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-cookies.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

      <script>
        moment.defaultFormat = "YYYY-MM-DD HH:mm:ss";
        moment.defaultFormatUtc = "YYYY-MM-DD HH:mm:ss";
      </script>

      <script>
          let file_version = "{{ file_version }}";
      </script>

      <style type="text/css">
          [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
          }
      </style>

      {% block header %}{% endblock %}

    </head>

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}
</html>
